html,body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    /* Centers everything without having to use Grid properties */
    text-align: center;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.cards {
    grid-row-start: 1;
    width: 95vw;
    justify-self: center;   
}

.page-nav {
    grid-row-start: 2;
    align-self: center;
}

