button {
    background-color: white;
    color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 8px;
    padding: 0.5rem 1.7rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: color .18s ease-in-out,
    background-color .18s ease-in-out,
    border-color .18s ease-in-out;
}

button:focus {outline:0;}

button:hover {
    color: #ffffff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}